.container {
    width: 100%;
    height: 25%;
    color: white;
}

.carrousel-container {
    height: 100%;
    width: 100%;
}

.carousel-item-container {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    height: 100%;
}

.project-item-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-item-img-container {
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-item-img {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    cursor: pointer;
}

.proyect-item-description {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 35px;
}

.proyect-item-description>h3 {
    font-size: 25px;
    width: 70%;

}

.buttons {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid #122562;
    color: #122562;
    background-color: gainsboro;
}

a {
    opacity: 1 !important;
}

.project-item-img:hover {
    border: 2px solid #122562;
    box-shadow: 1px 1px 25px 0px white;
}

.buttons:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: #122562;
    color: white;
}


@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 530) {

    .project-item-img-container {
        width: 40%;
        height: 100%;
        background-color: aqua;
    }

    .project-item-img {
        width: 40%;
        height: 60%;
    }

    .proyect-item-description {
        width: 45%;
        height: 100%;
        font-size: 10px;
    }
}