.presentation {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.presentation-me {
    text-align: center;
    width: 70%;
    padding-bottom: 5%;
}

.presentation-img {
    width: 10%;
    height: 15%;
    margin-left: 2%;
    position: relative;
    bottom: 0.5rem;
}

.presentation-me>h1 {
    font-weight: 400;
    font-size: 40px;
}

.presentation-me>h2 {
    margin-top: 6%;
    display: flex;
    align-items: end;
    justify-content: end;
    font-weight: 200;
    font-size: 35px;
}

.presentation-container>h3 {
    width: 100%;
    text-align: center;
    font-weight: 200;
    margin-top: 2%;
    font-size: 25px;
}

.presentation-icon {
    position: relative;
    bottom: 2px;
}

.presentation-button-container {
    width: 15%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation-button {
    border-radius: 25px;
    padding: 8%;
    cursor: pointer;
    border: 1px solid #122562;
    color: #122562;
    background-color: #d7d7a8;
}

.presentation-button:hover {
    border: 1px solid #c8c8b8;
    background-color: #122562;
    color: #c8c8b8;
}

@media (max-width: 530px) {
    .presentation-container {
        width: 85%;
        height: 100%;
    }

    .presentation-me>h2 {
        font-size: 20px;

    }
}