.presentation-container {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.presentation-me {
    text-align: center;
    width: 50%;
    padding: 6%;
}

.presentation-img {
    width: 6%;
    height: 15%;
    margin-left: 2%;
}

h1 {
    font-weight: 500;
}

h2 {
    margin-top: 3%;
    display: flex;
    align-items: end;
    justify-content: end;
    font-weight: 200;
}

h3 {
    width: 100%;
    text-align: center;
    font-weight: 200;
    margin-top: 5%;
}

.presentation-icon {
    position: absolute;
    width: 5%;
    height: 5%;
    margin-left: 1%;
}

.presentation-button-container {
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation-button {
    border-radius: 25px;
    width: 80%;
    padding: 8%;
    cursor: pointer;
    border: 1px solid #122562;
    color: #122562;
    background-color: #d7d7a8;
}

.presentation-button:hover {
    border: 1px solid #c8c8b8;
    background-color: #122562;
    color: #c8c8b8;
}