.skills-container {
    width: 100%;
    height: 25%;
    padding-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    grid-template-columns: repeat(3, 20%);
}

.skills-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.js-image {
    width: 70%;
    height: 75%;
    cursor: pointer;
    background-color: white;
    color: rgb(255, 238, 0);
    border-radius: 10px;
}

.html-image {
    width: 70%;
    height: 75%;
    cursor: pointer;
    color: rgb(255, 102, 0);
    background-color: white;
    border-radius: 10px;
}

.css-image {
    width: 70%;
    height: 75%;
    cursor: pointer;
    color: rgb(0, 119, 255);
    background-color: white;
    border-radius: 10px;
}

.react-image {
    width: 70%;
    height: 75%;
    cursor: pointer;
    background-color: white;
    color: rgb(0, 195, 255);
    border-radius: 10px;
}

.git-image {
    width: 70%;
    height: 75%;
    cursor: pointer;
    background-color: white;
    color: rgb(255, 51, 0);
    border-radius: 10px;
}

.npm-image {
    width: 70%;
    height: 75%;
    cursor: pointer;
    color: red;
    background-color: white;
    border-radius: 10px;
}

.js-image:hover {
    border: 2px solid #122562;
    box-shadow: 1px 1px 35px 1px white;
    transition: all 0.2s;
}

.html-image:hover {
    border: 2px solid #122562;
    box-shadow: 1px 1px 35px 1px white;
    transition: all 0.2s;
}

.css-image:hover {
    border: 2px solid #122562;
    box-shadow: 1px 1px 35px 1px white;
    transition: all 0.2s;
}

.react-image:hover {
    border: 2px solid #122562;
    box-shadow: 1px 1px 35px 1px white;
    transition: all 0.2s;
}

.git-image:hover {
    border: 2px solid #122562;
    box-shadow: 1px 1px 35px 1px white;
    transition: all 0.2s;
}

.npm-image:hover {
    border: 2px solid #122562;
    box-shadow: 1px 1px 35px 1px white;
    transition: all 0.2s;
}