.contact-container {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-container {
    width: 40%;
    height: 45%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

span {
    height: 30%;
    font-size: 100%;
    display: flex;
    align-items: center;
}

.iconos {
    width: 10%;
    height: 50%;
}

.enlace-in {
    cursor: pointer;
}

@media (max-width: 530px) {
    .contact-container {
        display: flex;
        justify-content: start;
    }

    .contacts-container {
        width: 100%;
        height: 50%;
    }

    .enlace-in {
        font-size: 15px;
    }

    .iconos {
        margin-right: 10px;
    }

    span {
        margin-left: 10px;
    }
}